body {
	background-color: #d1e4ff;
	text-align: center;
	width: 100%;
}

.content {
	background-color: #fff;
	width: 51.04%;
	display: inline-block;
	text-align: left;
	padding: 78px 30px 66px 30px;
	font-family: Arial, Sans-Serif;
	font-size: 16px;
}

.content h1 {
	margin: 42px 0 16px;
	text-transform: uppercase;
	font-size: 42px;
}

.content h2 {
	margin: 36px 0 16px;
	text-transform: uppercase;
	font-size: 36px;
}

.content h3 {
	margin: 30px 0 16px;
	text-transform: uppercase;
	font-size: 30px;
}

.content h4 {
	margin: 26px 0 16px;
	font-size: 26px;
}

.content h5 {
	margin: 20px 0 16px;
	font-size: 20px;
}

.content h6 {
	margin: 16px 0 16px;
	font-size: 16px;
}

.content code {
	background-color: #f0e6d6;
}

.content kbd {
	background-color: #eadcea;
}

.content samp {
	background-color: #eadcdc;
}

.content blockquote {
	background-color: #eadcea;
	border-left: 4px solid #b496b4;
	margin: 0px;
	padding-left: 34px;
	width: auto;
}

.content blockquote code {
	background-color: #eadcea;
}

.content pre {
	background-color: #f0e6d6;
}

.content a {
	color: #2780e3;
}

.content dt {
	font-family: Arial;
	font-style: italic;
	font-weight: bold;
}

.content table {
	table-layout: fixed;
	border: 1px solid #b496b4;
	border-collapse: collapse;
	width: 100%;
}

.content thead tr {
	background-color: #eadcea;
	text-align: center;
	height: 2em;
}

.content thead td {
	border: 1px solid #b496b4;
}

.content tbody tr {
	height: 2em;

}

.content tbody td {
	border: 1px solid #b496b4;
	padding-left: 13px;
}

.content p {
	margin: 16px 0 0 16px;
}

